*
{
    margin: 0;
    padding:0;

}
ul
{
    
    list-style-type: none;
    width :300px;
    background-color: aqua;
    overflow: hidden;
    padding: 0;
}
li
{
    float: left;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 120px;
    text-decoration: none;
}
li a:hover
{
    background-color: pink;
}