*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
width: 100vw;
height: 100vh;
background: #ecf0fe;
color: #555;
}
#lash
{
    width: 310px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
form
{
    background-color: ecf0f3;
    border-radius: 5px;
    box-shadow: 13px 13px 20px #cbced1,
    -13px -13px 20px #fff;
}
span
{
    color:#24cfaa;
    text-align:center;
    padding:15px;
    font-size:22px;
    font-weight:bold;
    height:35px;
    display: block;

}
label
{
    margin: 10% 10% 10% 12%;
}
input
{
    border:none;
    border-radius:10px;
    box-shadow: 
    inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px;
    height:30px;
    width:80%;
    margin:5px 10% 20px 10%;
    padding:12px;
    color:#b0a0ff;
    font-size:15px;
}
input[type=submit]
{
    background:#24cfaa;
    box-shadow: 
    3px 3px 3px #b1b1b1,
    3px 3px 3px #fff;
    padding: 0px;
    color: #fff;

}
h1
{
    color:black;
    text-align: center;
    
}
